<div class="row" >
    <div class="col-md-3" *ngFor="let cardData of cardsArray">
       
            <div class="card" (click)="onClick($event)">
                <div class="card-body"  >
                    <div class="row">
                        <div class="col-md-8">
                            <h1> {{cardData.value }} %</h1>
                            <p> {{cardData.header }}</p>
                       
                            <small>Lorem ipsum dolor sit amet.</small>
                        </div>
                        <div class="col-md-4">
                            <p *ngIf="cardData.value === 15"><i class="fas fa-music fa-3x text-muted"></i></p>
                            <p *ngIf="cardData.value === 35"><i class="fas fa-download fa-3x text-muted"></i></p>
                            <p *ngIf="cardData.value === 30"><i class="fas fa-chart-pie fa-3x text-muted"></i></p>
                            <p *ngIf="cardData.value === 9"><i class="fas fa-sync fa-3x text-muted"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        
        
        
        
   
    </div>
</div>